# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# dir
bin
build
docs
workflows
source
lib/Source

# Ignore the vcpkg directory
/vcpkg/

# Ignore build artifacts
/build/

# Ignore CMake cache and build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore IDE-specific files (optional)
.vscode/
.idea/

# Ignore log files and other temporary files
*.log
*.tmp
*.bak

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore installed dependencies (if any)
installed/
vcpkg_installed
downloads/
packages/

# Include vcpkg configuration files to be tracked by Git
!vcpkg.json
!vcpkg-configuration.json